<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <img
    src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F739841589%2F174240163727%2F1%2Foriginal.20240409-224345?h=2000&w=720&auto=format%2Ccompress&q=75&sharp=10&s=1e99c9e135517cae660dc44d18a6d132" />
</div>